{{#partial "head"}}

{{/partial}}
{{#partial "contenido"}}
    <div class="d-flex justify-content-center align-items-center pt-3">
        <h1 class="h2">Mis Ofertas</h1>
    </div>
    <div class="justify-content-center flex-grow-1 pb-5">
        <div class="row justify-content-center">
            <!-- Sección de Buscador y botón -->
            <div class="row align-items-center justify-content-between mb-4">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex">
                            <!-- Input de búsqueda -->
                            <div class="input-group mb-2 mr-2">
                                <input type="text" id="searchInput" class="form-control search-input" placeholder="Buscar" style="width:100%;">
                                <span class="input-group-text" style="height:100%">
                        <i class="fas fa-search" style="height:100%; align-items:center;"></i>
                    </span>
                            </div>
                        </div>
                        <!-- Grupo de botones alineados a la derecha con espacio entre ellos -->
                        <div class="d-flex">
                            <a href="/miscompras" class="btn custom-btn me-2">Mis Compras</a>
                            <a href="/puntos" class="btn custom-btn">Ver Catálogo</a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Sección de Cards -->
            <div class="row" id="productContainer">
                {{#each misofertas}}
                    <div class="col-md-4 mb-4 oferta-card" data-detalle="{{this.nombre}} {{this.detalle}}" data-rubro="{{this.rubro.descripcion}}">
                        <div class="card h-100 shadow-sm "  data-bs-toggle="modal" data-bs-target="#productModal-{{this.id}}" style="border-radius: 10px; overflow: hidden;" >
                            {{#if this.imagen}}
                                <img src="/imagenes/{{this.imagen}}" alt="{{this.nombre}}" class="card-img-top" style="height: 200px; object-fit: cover;">
                            {{else}}
                                <img src="/imagenes/sinfoto.jpg" alt="{{this.nombre}}" class="card-img-top" style="height: 200px; object-fit: cover;">
                            {{/if}}
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title"><strong>{{this.nombre}}</strong></h5>
                                    <p class="card-text"><small class="text-muted">{{this.puntos}} Puntos</small></p>
                                </div>
                                <p class="card-text">{{this.detalle}}</p>
                                <p class="card-text"><small class="text-muted">{{this.colaborador.nombre}}</small></p>
                                <p class="card-text"><small class="text-muted">Tipo de oferta: {{this.tipoOferta}}</small></p>
                                <p class="card-text"><span class="badge bg-secondary">{{this.rubro.descripcion}}</span></p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const searchInput = document.getElementById('searchInput');
            const productContainer = document.getElementById('productContainer');
            const productCards = productContainer.getElementsByClassName('oferta-card');

            function filterProducts() {
                const searchText = searchInput.value.toLowerCase();

                Array.from(productCards).forEach(card => {
                    const detalle = card.getAttribute('data-detalle').toLowerCase();

                    const matchesSearch = detalle.includes(searchText);

                    if (matchesSearch) {
                        card.style.display = '';
                    } else {
                        card.style.display = 'none';
                    }
                });
            }

            searchInput.addEventListener('input', filterProducts);
        });
    </script>

{{/partial}}
{{> templates/base title="Mis Ofertas - Nutrevidas"}}